.form_input
{
	background:transparent;width:100%;line-height:40px;height:40px;color:black;border:1px solid #cbcbcb;padding-left:10px;
}
.form_textarea
{
	margin-bottom: 20px;
}
label{font-size: 14px;line-height: 45px;font-weight: 400;width: 100%;display: inline-block;}

.btn{background-color:#337ab7;font-size:14px;border-color:#1ABC9C;text-align:center;height:38px;width:150px;border-style:solid;transition:background-color 0.5s ease;margin-top: 15px;}
.image_p{display: inline-block;}
.info_p{display: inline-block;}
.info_c{display: inline-block;margin-left: 40px;margin-top:100px;}
.center{max-width: 500px;}
.logout{float: right;right: 25%;top:20%!important;}
.head{background-color: #337ab7;position: relative;width: 100%;height: 70px;}
.absolute{position: absolute;top:0px;}
.view{font-size: 17px;line-height: 25px;}
.none{list-style: none;}

.menu{width:100%;font-size:14px;line-height:25px;background-color:#337ab7;padding-top:10px;padding-bottom:10px;color:white;font-family:'Open Sans', sans-serif;}
.menu a{text-decoration:none;color:white;}
.menu a:hover{text-decoration:none;color:white;}
.left-menu> ul> li{display:inline-block;padding-right:15px;padding-left:15px;list-style:none;}
.left-menu{float:left;padding-top:3px;padding-bottom:px;}
.left-menu> ul{margin:0px;padding:0px;}
.right-menu{float:right;padding-top:3px;padding-bottom:3px;}
.right-menu> ul> li{display:inline-block;padding-right:15px;padding-left:15px;list-style:none;}
.right-menu> ul{margin:0px;padding:0px;}
.right-menu li:last-child{padding-right:0px;}
.left-menu li:first-child{padding-left:0px;}


